*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock
ubuntu-xenial-16.04-cloudimg-console.log
# Bundler
Gemfile.lock
bin/*
.bundle/*
.idea
.kitchen/
.kitchen.local.yml
